h2.header Groepswedstrijden
table.finals(width="100%" style="border: 1px solid")
  tr(style="border: 1px solid")
    th(width="3%" style="border-bottom: 1px solid") nr
    th(width="12%") datum
    th(width="8%") tijd
    th(width="15%") plaats
    th(width="25%") wedstrijd
    th(colspan="2") rust
    th(colspan="2") eind
    th(colspan="2") toto
  each wed in weds.wedstrijden
    if wed.soort === "groepswedstrijd"
      tr
        td #{wed.nr}:
        td #{wed.datum} 
        td #{wed.tijd} 
        td #{wed.plaats}
        td #{wed.naam1} - #{wed.naam2}:
        td
          input(type="number" name="r1" + "_" + wed.nr)
        td
          input(type="number" name="r2" + "_" + wed.nr)
        td
          input(type="number" name="e1" + "_" + wed.nr)
        td
          input(type="number" name="e2" + "_" + wed.nr)
        td
          input(type="number" name="t1" + "_" + wed.nr)
        td
          input(type="number" name="t2" + "_" + wed.nr)

h2.header Groepstanden
table.group(width="100%")
  tr
    each pool in pools.poules
      th Groep #{pool.code}
  each num in [1,2,3,4,5,6]
    tr
      each pool in pools.poules
        each team in pool.teams
          if team.number == num
            - var naam = pool.code + num
            td 
              label #{team.team}
                input(type="number" name=naam size="1")
h2.header Achtste finales
table.finals(width="100%")
  tr
  each wed in weds.wedstrijden
    if wed.soort === "achtstefinale"
      td.nr #{wed.nr}:
      td
        label #{wed.naam1}:
          input(type="text" name=wed.naam1)
      td.nr vs
      td 
        label #{wed.naam2}:
          input(type="text" name=wed.naam2)
      if wed.nr%2 == 0
        tr
h2.header Kwart finales
table.finals(width="100%")
  tr
  each wed in weds.wedstrijden
    if wed.soort === "kwartfinale"
      td.nr #{wed.nr}:
      td
        label #{wed.naam1}:
          input(type="text" name=wed.naam1)
      td.nr vs
      td 
        label #{wed.naam2}:
          input(type="text" name=wed.naam2)
      if wed.nr%2 == 0
        tr
h2.header Halve finales
table.finals(width="100%")
  tr
  each wed in weds.wedstrijden
    if wed.soort === "halvefinale"
      td.nr #{wed.nr}:
      td
        label #{wed.naam1}:
          input(type="text" name=wed.naam1)
      td.nr vs
      td 
        label #{wed.naam2}:
          input(type="text" name=wed.naam2)
      if wed.nr%2 == 0
        tr
  
h2.header FINALE
table.finals(width="100%")
  tr
  each wed in weds.wedstrijden
    if wed.soort == "finale"
      td.nr #{wed.nr}:
      td
        label #{wed.naam1}:
          input(type="text" name=wed.naam1)
      td.nr vs
      td 
        label #{wed.naam2}:
          input(type="text" name=wed.naam2)
