h2.header Groepstanden
table.group(width="100%")
  tr
    each pool in pools.poules
      th Groep #{pool.code}
  each num in [1,2,3,4,5,6]
    tr
      each pool in pools.poules
        each team in pool.teams
          if team.number == num
            - var naam = pool.code + num
            td 
              label #{team.team}
                input(type="number" name=naam size="1")
h2.header Achtste finales
table.finals(width="100%")
  tr
  each wed in finales.wedstrijden
    if wed.nr < 45
      td.nr #{wed.nr}:
      td
        label #{wed.teamA}:
          input(type="text" name=wed.teamA)
      td.nr vs
      td 
        label #{wed.teamB}:
          input(type="text" name=wed.teamB)
      if wed.nr%2 == 0
        tr
h2.header Kwart finales
table.finals(width="100%")
  tr
  each wed in finales.wedstrijden
    if wed.nr >= 45 && wed.nr < 49
      td.nr #{wed.nr}:
      td
        label #{wed.teamA}:
          input(type="text" name=wed.teamA)
      td.nr vs
      td 
        label #{wed.teamB}:
          input(type="text" name=wed.teamB)
      if wed.nr%2 == 0
        tr
h2.header Halve finales
table.finals(width="100%")
  tr
  each wed in finales.wedstrijden
    if wed.nr >= 49 && wed.nr < 51
      td.nr #{wed.nr}:
      td
        label #{wed.teamA}:
          input(type="text" name=wed.teamA)
      td.nr vs
      td 
        label #{wed.teamB}:
          input(type="text" name=wed.teamB)
      if wed.nr%2 == 0
        tr
  
h2.header FINALE
table.finals(width="100%")
  tr
  each wed in finales.wedstrijden
    if wed.nr == 51
      td.nr #{wed.nr}:
      td
        label #{wed.teamA}:
          input(type="text" name=wed.teamA)
      td.nr vs
      td 
        label #{wed.teamB}:
          input(type="text" name=wed.teamB)
